
{% extends 'parts/base.html' %}

{% block headblock %}
<title>
    {{ title }}
</title>
{% endblock %}


{% block headerblock %}
{% include "parts/header/header.html" %}
{% endblock %}


{% block mainblock %}


<div class="column">
    <h3>{{ ans }}</h3>
    <p>
        {{ description }}
    </p>
</div>
<!-- .end .column -->
<div class="column">
    <img src="{{ img }}">
    <pre>{{ sidecolumn }}{{ xmp }}</pre>
</div>
{% endblock %}



{% block downheaderblock %}
{% include "parts/header/downheader2.html" %}
{% endblock %}
