<!-- End Post -->

<style>
	.right_sidebar {
		height: 100%;
		overflow-y: scroll;
	}
</style>
<div class="col-md-2 col-xs-12 max_width">
	<div class="share right_sidebar" style="text-align: left;">
		<div height="">

		</div>
		<div class="col-md-11">
			<h4>
				Index
			</h4>
			<hr>

			{% for key, value in index_table.items %}
			<li>
				<a href="#{{ key }}">
					{{ value }}
				</a>
			</li>
			{% endfor %}
			<div height="">
				<br>
			</div>
		</div>

		<h4>
			Relation
		</h4>
		<hr>

		<!-- begin post -->
		<div class="col-md-11">
			<a href="https://pm.short-tips.info/who/self_produce.md">
			</a>
			<div class="card-block">
				<p class="card-title"><a href="https://pm.short-tips.info/who/self_produce.md">
						この記事を書いた人<a></p>
			</div>
		</div>
		<div class="col-md-11">
			<a href="https://techblog.short-tips.info/">
			</a>
			<div class="card-block">
				<p class="card-title"><a href="https://techblog.short-tips.info/">
						技術系ブログ<a></p>
			</div>
		</div>
		<div class="col-md-11">
			<a href="https://career.short-tips.info/">
			</a>
			<div class="card-block">
				<p class="card-title"><a href="https://career.short-tips.info/">
						キャリアブログ<a></p>
			</div>
		</div>
		
		<!-- end post -->
		{% for page_dict in relation_list %}
		<!-- begin post -->
		<div class="col-md-11">
			<a href="/{{ page_dict.category }}/{{ page_dict.htmlname }}">
			</a>
			<div class="card-block">
				<p class="card-title"><a href="/{{ page_dict.category }}/{{ page_dict.htmlname }}">
						{{ page_dict.title }}</a></p>
			</div>
		</div>
		<!-- end post -->
		{% endfor %}


	</div>

</div>