Django==3.1   # Django3.1
django-extensions
Werkzeug
pyOpenSSL
mysqlclient   # pythonでMySQLに接続するためのドライバ
beautifulsoup4
redis
oauth2client
gspread
django-hosts
mysqlclient
mysql-connector-python
PyGithub
google-ads
markdown