
{% extends 'parts/normalflame.html' %}

{% block bodyblock %}




<section>
    <div class="wrap">
        <div class="content-left">
            <h3>
            Q1<small>/3</small>
            </h3>
            <p>あなたは一体何をしでかしたのでしょうか？</p>
            <pre>

            </pre>
            
        </div>
        <!-- end .content-left -->
        <div class="content-left">
            <!-- <div class="embed"> = Responsive -->
                <textarea></textarea>
            <!-- end .embed -->
        </div>
        <!-- end .content-left -->
    </div>
    <!-- .end .wrap -->
</section>



{% endblock %}
