<div class="col-md-4">
    <div class="x_panel">
        <div class="x_title">
            <h2>関連する言語/フレームワーク</h2>
            <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i
                            class="fa fa-wrench"></i></a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Settings 1</a>
                        <a class="dropdown-item" href="#">Settings 2</a>
                    </div>
                </li>
                <li><a class="close-link"><i class="fa fa-close"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <article class="media event">
                <a class="pull-left date">
                    <p class="month">Score</p>
                    <p class="day">4.5</p>
                </a>
                <div class="media-body">
                    <a class="title" href="#">Kotlin</a>
                    <p>年収800万円 </p>
                    <p>残業時間80時間 </p>
                    <p>総求人数70件 </p>
                    <p>構成年齢45.5歳 </p>
                    <p>従業員3000人 </p>
                </div>
            </article>
            <article class="media event">
                <a class="pull-left date">
                    <p class="month">Score</p>
                    <p class="day">4.5</p>
                </a>
                <div class="media-body">
                    <a class="title" href="#">React</a>
                    <p>年収800万円 </p>
                    <p>残業時間80時間 </p>
                    <p>総求人数70件 </p>
                    <p>構成年齢45.5歳 </p>
                    <p>従業員3000人 </p>
                </div>
            </article>
            <article class="media event">
                <a class="pull-left date">
                    <p class="month">Score</p>
                    <p class="day">4.5</p>
                </a>
                <div class="media-body">
                    <a class="title" href="#">Vue</a>
                    <p>年収800万円 </p>
                    <p>残業時間80時間 </p>
                    <p>総求人数70件 </p>
                    <p>構成年齢45.5歳 </p>
                    <p>従業員3000人 </p>
                </div>
            </article>
            <article class="media event">
                <a class="pull-left date">
                    <p class="month">Score</p>
                    <p class="day">4.5</p>
                </a>
                <div class="media-body">
                    <a class="title" href="#">Ruby On Rails</a>
                    <p>年収800万円 </p>
                    <p>残業時間80時間 </p>
                    <p>総求人数70件 </p>
                    <p>構成年齢45.5歳 </p>
                    <p>従業員3000人 </p>
                </div>
            </article>
            <article class="media event">
                <a class="pull-left date">
                    <p class="month">Score</p>
                    <p class="day">4.5</p>
                </a>
                <div class="media-body">
                    <a class="title" href="#">Vue</a>
                    <p>年収800万円 </p>
                    <p>残業時間80時間 </p>
                    <p>総求人数70件 </p>
                    <p>構成年齢45.5歳 </p>
                    <p>従業員3000人 </p>
                </div>
            </article>
            <article class="media event">
                <a class="pull-left date">
                    <p class="month">Score</p>
                    <p class="day">4.5</p>
                </a>
                <div class="media-body">
                    <a class="title" href="#">Angular</a>
                    <p>年収800万円 </p>
                    <p>残業時間80時間 </p>
                    <p>総求人数70件 </p>
                    <p>構成年齢45.5歳 </p>
                    <p>従業員3000人 </p>
                </div>
            </article>
        </div>
    </div>
</div>