<div class="col-md-12">
    <div class="">
        <div class="x_content">
            <div class="row">
                <div class="col-md-8 col-lg-8 col-sm-7">
                    <!-- blockquote -->
                    <blockquote>
                        <h1>Django</h1>
                    </blockquote>

                </div>
                <div class="col-md-8 col-lg-8 col-sm-7">
                    <!-- blockquote -->
                    <blockquote>
                        <h2> ★★★☆☆</h2>
                        <p>
                            Django（ジャンゴ）は、Pythonで実装されたWebアプリケーションフレームワーク。MVCデザインパターンに緩やかに従う。もともとはアメリカ合衆国カンザス州ローレンスにあるWorld
                            Company[8]のために、ニュース系のサイトを管理する目的で開発され、2005年7月にBSD
                            Licenseで公式にリリースされた。フレームワークはジプシー・スウィングのギタリストであるジャンゴ・ラインハルトにちなんで命名された。
                        </p>
                    </blockquote>

                </div>
                <div class="col-md-2 col-lg-2 col-sm-7">
                    <img width="300px"
                        src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/75/Django_logo.svg/400px-Django_logo.svg.png">

                </div>
            </div>
        </div>
    </div>
</div>