
{% extends 'parts/base.html' %}





{% block mainblock %}



<head>
    <title>
        strong
    </title>
</head>



<section class="bg-black slide-bottom">
    <span class="background" style="background-image:url('https://i.pinimg.com/736x/04/a7/a9/04a7a9e9a8ca19f580d7fa3f8c7ed344.jpg')"></span>


    <div class="wrap">
        <div>
            
        </div>
        <!-- .end .grid -->
    </div>
    <!-- .end .wrap -->
</section>




<section class="bg-black slide-bottom">
    <span class="background" style="background-image:url('https://i.pinimg.com/736x/04/a7/a9/04a7a9e9a8ca19f580d7fa3f8c7ed344.jpg')"></span>


    <div class="wrap">

    </div>
</section>



{% endblock %}