
{% extends 'parts/applebase.html' %}


<title>
    pythonとseleniumで寿司打を自動化したい。
</title>

<ans>
    右のコードをコピペして動かそう
</ans>

<description>
    
</description>

<sidecolumn>
<pre><xmp>
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.action_chains import ActionChains
import timeout_decorator
import sys
import time

url = "http://neutral.x0.com/home//play2.html"
driver = webdriver.Chrome("/Users/fenganling/Downloads/chromedriver")
driver.get(url)

k = input("スタートするにはENTERを押してください")
print('終了するにはctrl+c')

clickaction =ActionChains(driver)
actions = ActionChains(driver)
clickaction.click()

@timeout_decorator.timeout(130)
def mainloop():
    while True:
        actions.send_keys("abcdefghijklmnopqrstuvwxyz-,").perform()

try:
    mainloop()
except:
    print('終了です')
else:
    print('終了できませんでした')
finally:
    driver.close())</xmp></pre>
</sidecolumn>


